{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'price') }}{% endblock %}

{% block body %}

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">{{ 'yoga.surtitle'|trans({}, 'price') }}</span>
                            <span class="section-heading-lower">{{ 'yoga.title'|trans({}, 'price') }}</span>
                        </h2>
                        <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                            <li class="list-unstyled-item list-hours-item d-flex">
                                {{ 'yoga.child.title'|trans({}, 'price') }}
                                <span class="ml-auto">{{ 'yoga.child.price_single'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                <span class="ml-auto">{{ 'yoga.child.price_first_trimester'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                <span class="ml-auto">{{ 'yoga.child.price_second_trimester'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                <span class="ml-auto">{{ 'yoga.child.price_third_trimester'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                {{ 'yoga.family.title'|trans({}, 'price') }}
                                <span class="ml-auto">{{ 'yoga.family.price_single'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                {{ 'yoga.adult.title'|trans({}, 'price') }}
                                <span class="ml-auto">{{ 'yoga.adult.price_single'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                <span class="ml-auto">{{ 'yoga.adult.price_first_trimester'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                <span class="ml-auto">{{ 'yoga.adult.price_second_trimester'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                <span class="ml-auto">{{ 'yoga.adult.price_third_trimester'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                {{ 'yoga.individual.title'|trans({}, 'price') }}
                                <span class="ml-auto">{{ 'yoga.individual.price_single'|trans({}, 'price') }}</span>
                            </li>



                        </ul>
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">{{ 'therapy_dance.surtitle'|trans({}, 'price') }}</span>
                            <span class="section-heading-lower">{{ 'therapy_dance.title'|trans({}, 'price') }}</span>
                        </h2>
                        <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                            <li class="list-unstyled-item list-hours-item d-flex">
                                {{ 'therapy_dance.individual.title'|trans({}, 'price') }}
                                <span class="ml-auto">{{ 'therapy_dance.individual.price'|trans({}, 'price') }}</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex">
                                {{ 'therapy_dance.group.title'|trans({}, 'price') }}
                                <span class="ml-auto">{{ 'therapy_dance.group.price'|trans({}, 'price') }}</span>
                            </li>
                        </ul>

{#                        <p>{{ 'place.title'|trans({}, 'price') }} <a
                                    href="{{ 'place.aux_bonnes_herbes.link'|trans({}, 'price') }}">
                                {{ 'place.aux_bonnes_herbes.title'|trans({}, 'price') }}
                            </a>
                        </p>    #}
                        <p class="address mb-5">
                            <em>
                                <strong>{{ 'place.aux_bonnes_herbes.adress.street'|trans({}, 'price') }}</strong>
                                <br>
                                {{ 'place.aux_bonnes_herbes.adress.postal_code'|trans({}, 'price') }}
                                {{ 'place.aux_bonnes_herbes.adress.city'|trans({}, 'price')|upper }}
                            </em>
                        </p>
                        <p class="mb-0">
                            <small>
                                <em>{{ 'contact.p-1'|trans({}, 'price') }}</em>
                            </small>
                        </p>
                        <p class="mb-0">
                            <small>
                                <em>{{ 'contact.p-2'|trans({}, 'price') }}</em>
                            </small>
                            <br>
                            {{ 'contact.phone_number'|trans({}, 'price') }}
                        </p>
                        <p class="text-center mt-3">
                            <a class="btn btn-primary"
                               href="{{ path('contact') }}">{{ 'section.contact'|trans({}, 'homepage') }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
