{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'yoga') }}{% endblock %}

{% block body %}

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="product-item-description d-flex mr-auto">
                        <div class="bg-faded p-5 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-lower">{{ 'section_1.title_up'|trans({}, 'yoga') }}</span>
                            </h2>
                            <p class="mb-0">{{ 'section_1.p_up'|trans({}, 'yoga') }}</p>
                        </div>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ asset('build/images/yoga-01.jpg')|imagine_filter('photo') }}" alt="">
                <div class="product-item-description d-flex ml-auto">
                    <div class="bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-lower">{{ 'section_1.title_down'|trans({}, 'yoga') }}</span>
                        </h2>
                        <p class="mb-0">{{ 'section_1.p_down'|trans({}, 'yoga')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-description d-flex mr-auto">
                    <div class="bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0">
{#                            <span class="section-heading-upper">{{ 'section_2.surtitle'|trans({}, 'yoga') }}</span>#}
                            <span class="section-heading-lower">{{ 'section_2.title_up'|trans({}, 'yoga') }}</span>
                        </h2>
                        <p class="mb-0">{{ 'section_2.p_up'|trans({}, 'yoga')|raw }}</p>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ asset('build/images/yoga-02.jpg')|imagine_filter('photo') }}" alt="">
                <div class="product-item-description d-flex ml-auto">
                    <div class="bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0">
                            {#                            <span class="section-heading-upper">{{ 'section_2.surtitle'|trans({}, 'yoga') }}</span>#}
                            <span class="section-heading-lower">{{ 'section_2.title_down'|trans({}, 'yoga') }}</span>
                        </h2>
                        <p class="mb-0">{{ 'section_2.p_down'|trans({}, 'yoga')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-description d-flex mr-auto">
                    <div class="bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0">
                            {#                            <span class="section-heading-upper">{{ 'section_2.surtitle'|trans({}, 'yoga') }}</span>#}
                            <span class="section-heading-lower">{{ 'section_3.title_up'|trans({}, 'yoga') }}</span>
                        </h2>
                        <p class="mb-0">{{ 'section_3.p_up'|trans({}, 'yoga')|raw }}</p>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ asset('build/images/yoga-04.jpg')|imagine_filter('photo') }}" alt="">
                <div class="product-item-description d-flex ml-auto">
                    <div class="bg-faded p-5 rounded">
                        <h2 class="section-heading mb-0">
                            {#                            <span class="section-heading-upper">{{ 'section_2.surtitle'|trans({}, 'yoga') }}</span>#}
                            <span class="section-heading-lower">{{ 'section_3.title_down'|trans({}, 'yoga') }}</span>
                        </h2>
                        <p class="mb-0">{{ 'section_3.p_down'|trans({}, 'yoga')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
