{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'homepage') }}{% endblock %}

{% block body %}

    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img
                    class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                    src="{{ asset('build/images/intro.jpg')|imagine_filter('photo') }}"
                    alt="{{ 'section.flo_photo_alt'|trans({}, 'homepage') }}"
                >
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <p class="mb-3">{{ 'section.p-1'|trans({}, 'homepage') }}</p>
                    <p class="mb-3">{{ 'section.p-2'|trans({}, 'homepage') }}</p>
                    <p class="mb-3">{{ 'section.p-3'|trans({}, 'homepage') }}</p>
                    <a class="btn btn-primary" href="{{ path('contact') }}">{{ 'section.contact'|trans({}, 'homepage') }}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5"></section>

{% endblock %}
