{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'contact') }}{% endblock %}

{% block body %}

    <!--Contact Us Section-->
    <section>
        <div class="container py-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-6">
                    {{ form_start(contactForm, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(contactForm) }}
                    <button type="submit" id="contact-submit" class="btn btn-block btn-primary"
                            formnovalidate>
                        {{ 'form.submit.label'|trans({}, 'contact') }}
                    </button>
                    {{ form_end(contactForm) }}
                </div>
                <div class="col-lg-4">
                    <p class="mb-0 mt-5 text-center">

                        <em>{{ 'p-1'|trans({}, 'contact') }}</em>

                        <br>
                        <br>
                        {{ 'phone_number'|trans({}, 'contact') }}

                        <br>
                        <br>
                        {{ 'p-2'|trans({}, 'contact') }}
                        <a href="mailto:{{ 'email'|trans({}, 'contact') }}">{{ 'email'|trans({}, 'contact') }}</a>
                    </p>
                </div>

            </div>

        </div><!--End off container -->
    </section><!--End off Contact Section-->

{% endblock %}
