{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'therapy_dance') }}{% endblock %}

{% block body %}


    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                 src="{{ asset('build/images/about.jpg')|imagine_filter('photo') }}" alt="">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">{{ 'section.surtitle'|trans({}, 'therapy_dance') }}</span>
                                <span class="section-heading-lower">{{ 'section.title'|trans({}, 'therapy_dance') }}</span>
                            </h2>
                            <p>{{ 'section.p-1'|trans({}, 'therapy_dance') }}</p>
                            <p>{{ 'section.p-2'|trans({}, 'therapy_dance') }}</p>
                            <p>{{ 'section.p-3'|trans({}, 'therapy_dance') }}</p>
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">{{ 'section.subtitle-1'|trans({}, 'therapy_dance') }}</span>
                            </h2>
                            <p>{{ 'section.p-4'|trans({}, 'therapy_dance') }}</p>
                            <p>{{ 'section.p-5'|trans({}, 'therapy_dance') }}</p>
                            <p>{{ 'section.p-6'|trans({}, 'therapy_dance') }}</p>
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">{{ 'section.subtitle-2'|trans({}, 'therapy_dance') }}</span>
                            </h2>
                            <p>{{ 'section.p-7'|trans({}, 'therapy_dance') }}</p>
                            <ul>
                                <li>{{ 'section.li-1'|trans({}, 'therapy_dance') }}</li>
                                <li>{{ 'section.li-2'|trans({}, 'therapy_dance') }}</li>
                                <li>{{ 'section.li-3'|trans({}, 'therapy_dance') }}</li>
                                <li>{{ 'section.li-4'|trans({}, 'therapy_dance') }}</li>
                                <li>{{ 'section.li-5'|trans({}, 'therapy_dance') }}</li>
                            </ul>
                            <p>{{ 'section.p-8'|trans({}, 'therapy_dance') }}</p>
                            <p class="text-right">
                                <a class="btn btn-primary"
                                   href="{{ path('contact') }}">{{ 'section.contact'|trans({}, 'homepage') }}</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
