{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ '500.title'|trans({}, 'errors') }}</h1>
                <p>
                    {{ '500.text'|trans({}, 'errors') }}.
                </p>
            </div>
        </div>
    </div>

{% endblock %}