<footer class="footer text-white text-bold text-center py-2 mt-auto">
    <div class="container">
        <p class="m-0 small"><a href="{{ path('legal_notices') }}">{{ 'legal_notices'|trans({}, 'footer')|raw }}</a> </p>
    </div>
</footer>