<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">{{ 'mobile_title'|trans({}, 'nav') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if app.request.get('_route') == 'homepage'%}active{% endif%} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{{ path('homepage') }}">{{ 'homepage'|trans({}, 'nav') }}
                    </a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'therapy_dance'%}active{% endif%} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{{ path('therapy_dance') }}">{{ 'danse_therapy'|trans({}, 'nav') }}</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'yoga'%}active{% endif%} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{{ path('yoga') }}">{{ 'yoga'|trans({}, 'nav') }}</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'price'%}active{% endif%} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{{ path('price') }}">{{ 'prices'|trans({}, 'nav') }}</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'contact'%}active{% endif%} px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="{{ path('contact') }}">{{ 'contact'|trans({}, 'nav') }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>