<!DOCTYPE html>
<html class="h-100">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ 'meta.description'|trans({}, 'base') }}">
    <meta name="author" content="{{ 'meta.author'|trans({}, 'base') }}">
    <meta property="og:title" content="{{ 'meta.og.title'|trans({}, 'base') }}"/>
    <meta property="og:type" content="{{ 'meta.og.type'|trans({}, 'base') }}"/>
    <meta property="og:url" content="{{ 'meta.og.url'|trans({}, 'base') }}"/>
    <meta property="og:image" content={{ absolute_url('build/images/yoga-02.jpg') }}/>
    <meta property="og:description" content={{ 'meta.og.description'|trans({}, 'base') }}/>

    <title>{% block title %}{{ 'title'|trans({}, 'base') }}!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('build/images/layout/favicon.png') }}">
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
{{ include('layout/_alerts.html.twig') }}
<h1 class="site-heading text-center d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">{{ 'header.title'|trans({}, 'base') }}</span>
    <span class="site-heading-lower">{{ 'header.subtitle'|trans({}, 'base') }}</span>
</h1>

{{ include('layout/_nav.html.twig') }}

{% block body %}{% endblock %}

{{ include('layout/_footer.html.twig') }}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
