{% extends 'email/email.base.html.twig' %}

{% block content %}
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>
                <strong>{{ contactFormDTO.name }}</strong> {{ 'contact.paragraph.first'|trans({}, 'email') }}
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                {{ 'contact.paragraph.second'|trans({}, 'email') }}
            </p>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <row>
        <columns>
            <center>
                <i>{{ contactFormDTO.message }}</i>
            </center>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <row>
        <columns>
            {{ 'contact.paragraph.third'|trans({}, 'email') }}
            <a href="mailto:{{ contactFormDTO.email }}">{{ contactFormDTO.email }}</a>
        </columns>
    </row>

{% endblock %}
